* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
}

@keyframes appearIn {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}

body {
  font-family: 'Times New Roman', Times, serif;
}

.back {
  position: absolute;
  font-size: 14px;
  padding: 6px 11px;
  border: 2px solid #0988d3;
  border-radius: 25px 5px 5px 25px;
  left: 15px;
  top: 15px;
  font-family: 'Arial';
  color: #0988d3;
  font-weight: 600;
}

.back:hover {
  cursor: pointer;
  border: 2px solid #0988d3;
  background: #0988d3;
  color: white;
}


.container {
  background: #EDEDED url("./background.svg") no-repeat;
  height: 100vh;
  width: 100vw;
  animation: appearIn .3s ease-in;
  background-position: bottom;
}

.container .box {
  padding: 15px 15px;
  text-align: center;
}



.container .heading h1 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 60px;
  
}

.container .heading p {
  font-size: 21px;
  letter-spacing: 3px;

}

.container .info {
  padding: 30px 0 20px 0;
}

.container .info p {
  font-size: 19px;
  letter-spacing: 1.5px;
  color:#322f2f; 
}

.container .name {
  padding: 5px 0;
  font-family: 'Great Vibes', cursive;
  font-size: 80px;
}

.container .description {

  min-height: 63px;
  max-width: 701px;
  margin: 15px auto;   
}

.container .description p {
  font-family: 'Arial';
  font-size: 17.5px;
}



.container .bottom {
  align-self: center;
  display: flex;
  justify-content: center;
}


.container .bottom  .ribbon {
  height: 200px;
  width: 200px;
}

.ribbon-svg {
  height: 200px;
  width: 200px;
}


.container .bottom  .ribbon div {
  display: flex;
  align-items: center;
  justify-content: center;
}


.container .bottom  .ribbon div span {
  position: absolute;
  margin-top: -30px;
  font-family: 'Great Vibes', cursive;
  font-size: 30px;
  font-weight: 500;
  width: 90px;
  height: 70px;
  word-break: break-all;

}


.container .bottom .date-box, .container .bottom .signature-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;


}

.container .bottom .date-box .item, .container .bottom .signature-box .item {
  padding: 7px 0;
  font-size: 25px;

}

.container .bottom .signature-box .item img {
  height: 90px;
  width: 100px;
}

.container .bottom .date-box .date, .container .bottom .signature-box .signature {
  width: 200px;
  padding: 10px 0;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 4px;
  border-top: 1px solid black;
}


@media screen  and ( min-height: 768px ) {
 

  .container .box {
      padding: 100px 15px;
    }

    .container {
      background: #EDEDED url("./background-xl.svg") no-repeat;
      background-position: bottom;
    }

    .container .description {
      margin: 30px auto;   
  }

  .container .bottom {
      margin: 35px 0;
  }

}

@media screen and (max-width: 725px ) {

  .container .box {
      padding: 10px 20px;
    }

  .container .description {
      width: 100%;
      text-align: justify;
    
  }

  .container .bottom .date-box .item, .container .bottom .signature-box .item {
      font-size: 23px;

  }
  
  .container .bottom .date-box .date, .container .bottom .signature-box .signature {
      font-size: 23px;

  }

}


@media screen and (max-width: 660px) {
 
    .container .heading h1 {
        font-size: 43px;
        margin-top: 20px;
      
    }
  
    .container .heading p {
      font-size: 20px;

  }
     
  .container .name {
      font-size: 60px;
  }
  
  
  
  .container .description p {
      font-size: 17.5px;
      padding: 0 15px;
  }
  
  .container .bottom  .ribbon {
      height: 175px;
      width: 175px;
  }
 

  .container .bottom .date-box .item, .container .bottom .signature-box .item {
      font-size: 20px;

  }
  
  .container .bottom .date-box .date, .container .bottom .signature-box .signature {
      font-size: 20px;
      letter-spacing: 3px;
      width: 135px;
  }

}


@media screen and (max-width: 480px) {

  .container {
      background: #EDEDED url("./background-sm.svg") no-repeat;
      background-position: bottom;
    }
 
  .container .heading h1 {
      font-size: 38px;
      margin-top: 20px;
   
  }

  .container .heading p {
    font-size: 19px;


}
   
.container .name {
    font-size: 50px;
}



.container .description p {
    font-size: 17px;
    padding: 0 15px;
}

.container .bottom  .ribbon {
    height: 150px;
    width: 150px;

}

.ribbon-svg {
  height: 150px;
  width: 150px; 
}

.container .bottom  .ribbon div span {
  margin-top: -25px;
  font-size: 23px;
  width: 60px;
  height: 55px;
}


.container .bottom .date-box .item, .container .bottom .signature-box .item {
    font-size: 18px;
}

.container .bottom .signature-box .item img {
  height: 60px;
  width: 90px;
}

.container .bottom .date-box .date, .container .bottom .signature-box .signature {
    font-size: 18px;
    letter-spacing: 2px;
    width: 120px;
}

}

@media screen  and (max-width: 440px) {

  .container {
      background: #EDEDED url("./background-sm.svg") no-repeat;
      background-position: bottom;
    }

  .container {
      padding: 15px 0;
  }
 
  .container .heading h1 {
      font-size: 38px;
      margin-top: 20px;
   
  }

  .container .heading p {
    font-size: 19px;
    letter-spacing: 1px;
}
   
.container .name {
    font-size: 50px;
}

.container .info p {
  font-size: 18px;
  letter-spacing: 1px;
}



.container .description p {
    font-size: 16px;
    padding: 0 15px;
}

.container .bottom  .ribbon {
    height: 125px;
    width: 125px;
}

.container .bottom  .ribbon div span {
  margin-top: -22px;
  font-size: 23px;
}


.container .bottom .date-box .item, .container .bottom .signature-box .item {
    font-size: 16px;
}

.container .bottom .date-box .date, .container .bottom .signature-box .signature {
    font-size: 16px;
    letter-spacing: 1px;
    width: 100px;
}

}


@media screen and (min-height: 650px ) {
  .container {
      background: #EDEDED url("./background.svg") no-repeat;
      background-position: bottom;
    }
     
}

@media screen and (max-height: 600px ) {
  body {
    background: #EDEDED;
    width: 100vw;
  }
  .container {
      background: transparent;
    }     
}

@media screen and (min-height: 640px) and (max-width: 491px ) {

   .container .box {
     padding-top: calc(5px + 5vh);
   }
}



@media screen and (max-width: 365px) {
  
  .container {
      background: #EDEDED url("./background-sm.svg") no-repeat;
      background-position: bottom;
    }

  .container .box {
      padding: calc(5px + 5vh) 5px;

    }
 
  .container .heading h1 {
      font-size: 38px;
      margin-top: 15px;
   
  }

  .container .heading p {
    font-size: 19px;
    letter-spacing: 1px;
}
   
.container .name {
    font-size: 50px;
}

.container .info p {
  font-size: 17.5px;
  letter-spacing: 1px;
}



.container .description p {
    font-size: 15px;
    padding: 0 15px;
}

 .ribbon-svg {
  width: 125px; 
}

.container .bottom .signature-box .item img {
  height: 50px;
  width: 70px;
}

.container .bottom  .ribbon div span {
  margin-top: -19px;
  font-size: 18px;
  width: 58px;
}


.container .bottom .date-box .item, .container .bottom .signature-box .item {
    font-size: 16px;
}

.container .bottom .date-box .date, .container .bottom .signature-box .signature {
    font-size: 16px;
    letter-spacing: 1px;
    width: 100px;
}

}



